WebServiceSolution/WindowsFormsApp1/Connected Services/ServiceReference1/ServiceBloodCrowd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBloodCrowd" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBloodCrowd_GetDonors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonors" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_searchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:searchByName" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_searchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_searchByBloodType_InputMessage">
    <wsdl:part name="parameters" element="tns:searchByBloodType" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_searchByBloodType_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchByBloodTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_addDador_InputMessage">
    <wsdl:part name="parameters" element="tns:addDador" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_addDador_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBloodCrowd">
    <wsdl:operation name="GetDonors">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonors" message="tns:IServiceBloodCrowd_GetDonors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsResponse" message="tns:IServiceBloodCrowd_GetDonors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/searchByName" message="tns:IServiceBloodCrowd_searchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/searchByNameResponse" message="tns:IServiceBloodCrowd_searchByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchByBloodType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/searchByBloodType" message="tns:IServiceBloodCrowd_searchByBloodType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/searchByBloodTypeResponse" message="tns:IServiceBloodCrowd_searchByBloodType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/addDador" message="tns:IServiceBloodCrowd_addDador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/addDadorResponse" message="tns:IServiceBloodCrowd_addDador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBloodCrowd" type="tns:IServiceBloodCrowd">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDonors">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/searchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByBloodType">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/searchByBloodType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDador">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/addDador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBloodCrowd">
    <wsdl:port name="BasicHttpBinding_IServiceBloodCrowd" binding="tns:BasicHttpBinding_IServiceBloodCrowd">
      <soap:address location="http://localhost:65166/ServiceBloodCrowd.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>