DesktopApplication/WindowsFormsApp1/Connected Services/ServiceReference1/ServiceBloodCrowd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsResult" nillable="true" type="q1:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByNameResult" nillable="true" type="q2:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByBloodType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sh_blood" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByBloodTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByBloodTypeResult" nillable="true" type="q3:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBloodTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBloodTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getBloodTypesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByCompBlood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bloodType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByCompBloodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByCompBloodResult" nillable="true" type="q5:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minAge" type="xs:int" />
        <xs:element minOccurs="0" name="maxAge" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByAgeResult" nillable="true" type="q6:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByIMC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minIMC" type="xs:double" />
        <xs:element minOccurs="0" name="maxIMC" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByIMCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByIMCResult" nillable="true" type="q7:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="newDonor" nillable="true" type="q8:Donor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDonorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list_guid" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportToXmlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateIMC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilograms" type="xs:double" />
        <xs:element minOccurs="0" name="centimeters" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateIMCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateIMCResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateAgeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDonor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="guids" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDonorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveDonorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>