DesktopApplication/WindowsFormsApp1/Connected Services/ServiceReference1/ServiceBloodCrowd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDonors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsResult" nillable="true" type="q1:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="searchByNameResult" nillable="true" type="q2:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchByBloodType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sh_blood" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchByBloodTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="searchByBloodTypeResult" nillable="true" type="q3:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBloodTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBloodTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getBloodTypesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByCompBlood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bloodType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonorsByCompBloodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="GetDonorsByCompBloodResult" nillable="true" type="q5:ArrayOfDonor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="newDonor" nillable="true" type="q6:Donor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>