DesktopApplication/WindowsFormsApp1/Connected Services/ServiceReference1/ServiceBloodCrowd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBloodCrowd" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
      <xsd:import schemaLocation="http://localhost:65166/ServiceBloodCrowd.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBloodCrowd_GetDonors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonors" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByName" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByBloodType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByBloodType" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByBloodType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByBloodTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_getBloodTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:getBloodTypes" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_getBloodTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBloodTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByCompBlood_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByCompBlood" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByCompBlood_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByCompBloodResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByAge" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByIMC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByIMC" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_GetDonorsByIMC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonorsByIMCResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_addDonor_InputMessage">
    <wsdl:part name="parameters" element="tns:addDonor" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_addDonor_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDonorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_ExportToXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportToXml" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_ExportToXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportToXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_CalculateIMC_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateIMC" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_CalculateIMC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateIMCResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_CalculateAge_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAge" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_CalculateAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_RemoveDonor_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDonor" />
  </wsdl:message>
  <wsdl:message name="IServiceBloodCrowd_RemoveDonor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDonorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBloodCrowd">
    <wsdl:operation name="GetDonors">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonors" message="tns:IServiceBloodCrowd_GetDonors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsResponse" message="tns:IServiceBloodCrowd_GetDonors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByName" message="tns:IServiceBloodCrowd_GetDonorsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByNameResponse" message="tns:IServiceBloodCrowd_GetDonorsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByBloodType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByBloodType" message="tns:IServiceBloodCrowd_GetDonorsByBloodType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByBloodTypeResponse" message="tns:IServiceBloodCrowd_GetDonorsByBloodType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBloodTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/getBloodTypes" message="tns:IServiceBloodCrowd_getBloodTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/getBloodTypesResponse" message="tns:IServiceBloodCrowd_getBloodTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByCompBlood">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByCompBlood" message="tns:IServiceBloodCrowd_GetDonorsByCompBlood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByCompBloodResponse" message="tns:IServiceBloodCrowd_GetDonorsByCompBlood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByAge" message="tns:IServiceBloodCrowd_GetDonorsByAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByAgeResponse" message="tns:IServiceBloodCrowd_GetDonorsByAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByIMC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByIMC" message="tns:IServiceBloodCrowd_GetDonorsByIMC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/GetDonorsByIMCResponse" message="tns:IServiceBloodCrowd_GetDonorsByIMC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDonor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/addDonor" message="tns:IServiceBloodCrowd_addDonor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/addDonorResponse" message="tns:IServiceBloodCrowd_addDonor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportToXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/ExportToXml" message="tns:IServiceBloodCrowd_ExportToXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/ExportToXmlResponse" message="tns:IServiceBloodCrowd_ExportToXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateIMC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/CalculateIMC" message="tns:IServiceBloodCrowd_CalculateIMC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/CalculateIMCResponse" message="tns:IServiceBloodCrowd_CalculateIMC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/CalculateAge" message="tns:IServiceBloodCrowd_CalculateAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/CalculateAgeResponse" message="tns:IServiceBloodCrowd_CalculateAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDonor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBloodCrowd/RemoveDonor" message="tns:IServiceBloodCrowd_RemoveDonor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBloodCrowd/RemoveDonorResponse" message="tns:IServiceBloodCrowd_RemoveDonor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBloodCrowd" type="tns:IServiceBloodCrowd">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDonors">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByName">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonorsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByBloodType">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonorsByBloodType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBloodTypes">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/getBloodTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByCompBlood">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonorsByCompBlood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByAge">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonorsByAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonorsByIMC">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/GetDonorsByIMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDonor">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/addDonor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToXml">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/ExportToXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateIMC">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/CalculateIMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAge">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/CalculateAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDonor">
      <soap:operation soapAction="http://tempuri.org/IServiceBloodCrowd/RemoveDonor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBloodCrowd">
    <wsdl:port name="BasicHttpBinding_IServiceBloodCrowd" binding="tns:BasicHttpBinding_IServiceBloodCrowd">
      <soap:address location="http://localhost:65166/ServiceBloodCrowd.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>